<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <!--KLog日志记录等级(优先级从大到小为：Error、Warn、Info、Debug，0代表只记录异常日志，1代表只记录异常和警告日志，2代表记录除调试外的其他日志，3代表记录全部日志)-->
    <add key="KLogLevel" value="3"/>
    <!--KLog日志记录方式(Log代表文件，Mongodb代表Mongodb数据库，其他需要的仿照LogByMongodb类自行增加)-->
    <add key="KLogBy" value="File"/>
    <!--KLog数据库连接字符串，若非数据库，则是文件相对路径-->
    <add key="KLogConnStr" value="File\KLog.txt"/>
    <!--<add key="KLogBy" value="Mongodb"/>-->
    <!--<add key="KLogConnStr" value="mongodb://localhost/"/>-->
  </appSettings>
</configuration>